{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
  <nav class="breadcrumbs">
    <div class="nav-wrapper">
      <div class="col s12">
        {% for item in breadcrumb %}
          {% if item.url %}
            <a href="{{ item.url }}" class="breadcrumb">{{ item.text }}</a>
          {% else %}
            <span class="breadcrumb">{{ item.text }}</span>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </nav>
{% endif %}
